.introduction {
    /* text-align: center; */
    position: fixed !important;
    left: 40%;
    top: 40%;
    transform: translate(-60%, -40%);
    text-align: center;
  }
  
  .introduction-text {
    /* font-size: 36px;
    margin: 20px 0; */
    font-size: 30px;
    opacity: 0; /* Initially hidden */
    margin: 30px; /* Add spacing between lines */
    animation: fade-in 1s forwards; /* Apply fade-in animation */
  }
  /* Keyframes for text lines fading in */
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  

  /* Apply animation delay to each line */
  .line:nth-child(1) {
    animation-delay: 1s; /* Delay line 1 by 1 second */
  }
  
  .line:nth-child(2) {
    animation-delay: 2s; /* Delay line 2 by 5 seconds */
  }
  
  .delayed {
    animation-delay: 2s;
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  .name-input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  