.objective {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-60%, -40%);
    text-align: center;
  }
  
  .objective-text {
    font-size: 30px;
    opacity: 0;
    margin: 30px;
  }

  .button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;  
}
  
.objective-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 30px;
    text-size-adjust: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.objective-button:first-child {
    margin-right: 30px; /* Add right margin to the first button */
}

.objective-button:last-child {
    margin-left: 30px; /* Add left margin to the last button */
}

  .objective-button:hover {
    background-color: #0056b3;
  }
  