.weight-loss-quiz {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-60%, -40%);
    text-align: center;
}

.question {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    opacity: 1;
    margin: 30px;
}

.options {
    opacity: 1;
    margin-top: 30px;
    font-size: 30px;
}

.encouragement {
    font-size: 25px;
    font-style: italic;
    margin-top: 30px;
    opacity: 1;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}