body {
  margin-top: 0;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif; /* You can change the font family as needed */
}

.max-icon {
  width: 50%; /* Increased width for the Max icon */
  margin: 100px auto 50px; /* Adjusted margin for positioning */
  display: block; /* Added to center the image horizontally */
  animation: slideIn 1s forwards;
}

.text-container {
  text-align: center;
  position: relative;
  width: auto;
}

.line {
  font-size: 25px;
  color: #0c0c0c;
  opacity: 0;
  margin: -40px;
  text-align: center;
  position: fixed;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.fade-in-out {
  animation: fadeInOut 5s forwards;
}

.fade-in-out.delay-1s {
  animation-delay: 1s;
}

.fade-in-out.delay-2s {
  animation-delay: 5s;
}

.fade-in-out.delay-3s {
  animation-delay: 9s;
}

.fade-in-out.delay-4s {
  animation-delay: 13s;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .max-icon {
    width: 80%; /* Adjusted width for mobile */
  }

  .line {
    font-size: 25px; /* Further reduced font size for smaller screens */
  }
}