body {
  margin-top: 0;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif; /* You can change the font family as needed */
}

.max-icon {
  width: 50%; /* Increased width for the Max icon */
  margin: 100px auto 50px; /* Adjusted margin for positioning */
  display: block; /* Added to center the image horizontally */
  animation: slideIn 1s forwards;
}

.text-container {
  text-align: center;
  position: relative;
  width: auto;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .max-icon {
    width: 80%; /* Adjusted width for mobile */
  }

  .line {
    font-size: 25px; /* Further reduced font size for smaller screens */
  }
}