.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line {
  font-size: 25px;
  color: #0c0c0c;
  opacity: 0;
  /* margin: -40px; */
  text-align: center;
  /* position: fixed; */
  /* top: 75%;
  left: 60%;
  transform: translate(-50%, -50%); */
}

.fade-in-out {
  animation: fadeInOut 5s forwards;
}

.fade-in-out.delay-1s {
  animation-delay: 1s;
}

.fade-in-out.delay-2s {
  animation-delay: 5s;
}

.fade-in-out.delay-3s {
  animation-delay: 9s;
}

.fade-in-out.delay-4s {
  animation-delay: 13s;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

